{% extends 'activities/base.html' %}
{% load static %}

{% block title %}Activity in Progress{% endblock %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://unpkg.com/bulma@1.0.2/css/bulma.min.css" />
<link rel="stylesheet" href="{% static 'activities/css/activity.css' %}">
<script src="{% static 'activities/js/activity.js' %}"></script>

<section class="container">
    <div class="box activity-box">
        <h1 class="title">{{ activity.activity_name }}</h1>
        <h2 class="subtitle" style="margin-top: 3rem;">Activity Procedure:</h2>
        <!-- <h4 class="instructions" >{{ activity.instruction|linebreaks }}</h4> -->
        {% if activity.id == 1 %}
            <img src="{% static 'activities/images/touch_correct_pody_part.png' %}" alt="Touch Correct Body Part" class="activity-image">
        {% elif activity.id == 2 %}
            <img src="{% static 'activities/images/match_the_color.png' %}" alt="Match the Color" class="activity-image">
        {% elif activity.id == 3 %}
            <img src="http://192.168.0.140:5000/video_feed" alt="Camera Stream" style="width: 640px; height: 480px;">
        {% elif activity.id == 4 %}
            <img src="{% static 'activities/images/find_the_different_image.png' %}" alt="Find the Different Image" class="activity-image">
        {% elif activity.id == 5 %}
            <img src="{% static 'activities/images/learning_with_buttons.png' %}" alt="Learning with Buttons" class="activity-image">
        {% else %}
            <h4 class="instructions">{{ activity.instruction|linebreaks }}</h4>
        {% endif %}
        <h3 class="subtitle">Elapsed Time:</h3>
        <div id="timer" class="time-counter">00:00</div>

        <!-- Pass the URL for stopping the activity as a data attribute -->
        <button class="button stop-button" data-stop-url="{% url 'stop_activity' child.id activity.id %}" onclick="stopActivity(this)">
            Stop Activity
        </button>
    </div>
</section>
{% endblock %}
