{% extends "accounts/base.html" %}
{% load static %}

{% block title %}Forget Password{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'accounts/css/button.css' %}">  <!-- Link to the CSS file -->
    <div class="container">
        <div class="column is-4 is-offset-4">
            <div class="box has-background-light">
                <form method="post" novalidate>
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">Enter your email to reset password</label>
                        <div class="control">
                            <input class="input is-medium {% if form.email.errors %}is-danger{% endif %}" type="text" name="email" placeholder="Enter your email ">
                        </div>
                        {% if form.email.errors %}
                            <p class="help is-danger">{{ form.email.errors.0 }}</p>
                        {% endif %}
                    </div>
                    <div class="field">
                        <button class="button is-success is-fullwidth is-medium">Send Email</button>
                    </div>
                </form>
                {% for message in messages %}
                    <div class="notification {% if message.tags %}{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
