{% extends "accounts/base.html" %}
{% load static %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'accounts/css/password-policy.css' %}">
<link rel="stylesheet" href="{% static 'accounts/css/button.css' %}">
<div class="container">
    <div class="column is-4 is-offset-4">
        <div class="box has-background-light">
            <form method="post" novalidate>
                {% csrf_token %}
                <!-- Password -->
                <div class="field">
                    <label class="label">New Password</label>
                    <div class="control password-policy-tooltip">
                        <input class="input is-medium {% if form.password1.errors %}is-danger{% endif %}" type="password" name="password1" placeholder="Enter your password">
                        <div class="password-policy-tooltip-text">
                            <p>• Your password can't be too similar to your other personal information.</p>
                            <p>• Your password must contain at least 8 characters.</p>
                            <p>• Your password can't be a commonly used password.</p>
                            <p>• Your password can't be entirely numeric.</p>
                            <p>• Your password must contain at least one uppercase, one lowercase, and one special character.</p>
                        </div>
                    </div>
                    <!-- Error display for Password -->
                    {% if form.password1.errors %}
                        <p class="help is-danger">{{ form.password1.errors.0 }}</p>
                    {% endif %}
                </div>

                <!-- Confirm Password -->
                <div class="field">
                    <label class="label">Confirm Password</label>
                    <div class="control">
                        <input class="input is-medium {% if form.password2.errors %}is-danger{% endif %}" type="password" name="password2" placeholder="Confirm your password">
                    </div>
                    <!-- Error display for Confirm Password -->
                    {% if form.password2.errors %}
                        <p class="help is-danger">{{ form.password2.errors.0 }}</p>
                    {% endif %}
                </div>

                <!-- Submit Button -->
                <div class="field">
                    <button class="button is-success is-fullwidth is-medium">Password Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
