.password-policy-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.password-policy-tooltip:hover .password-policy-tooltip-text {
    display: block;
}

.password-policy-tooltip-text {
    display: none;
    position: absolute;
    background-color: #e0e9f8;
    color: #242e60;
    text-shadow: 1px 1px 1px #242e60;
    padding: 10px;
    border-radius: 4px;
    z-index: 1;
    bottom: 125%;
    left: 0;
    width: 300px;
}

.password-policy-tooltip-text p {
    margin: 5px 0;
}

.password-policy-tooltip .control {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
}

.password-policy-tooltip .input {
    flex: 1;
    margin-right: 7em;
}
